.article-list {
  width: 99%;
  overflow: hidden;
}

.article-tabs {
  display: flex;

  margin-top: 5px;
  gap: 10px;
  border-bottom: 2px solid #ccc; /* Durchgezogene Linie unter den Tabs */
}

.tab-button {
  flex: 1; /* Sorgt für gleichmäßige Größe */
  padding: 15px 20px; /* Größer für Touch-Bedienung */
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px; /* Größere Schrift für Lesbarkeit */
  font-weight: bold;
  color: #00bfffc8;
  position: relative; /* Für den Unterstrich */
  transition: color 0.3s ease-in-out;
  touch-action: manipulation; /* Optimiert für Touch */
}

.tab-button:active {
  transform: scale(0.98); /* Kleiner Effekt für Touch */
}

.tab-button.active {
  color: #0d00ff; /* Aktive Farbe */
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 15%;
  width: 70%;
  height: 3px;
  background-color: #0d00ff; /* Linie unter aktivem Tab */
  border-radius: 3px;
}

.article-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem; /* Weniger Abstand */
    border-radius: 5px;
    border: 2px solid #0d00ff;
    max-height: 55dvh; /* Falls nötig */
}

.article-item {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0; /* Entfernt unerwünschten Abstand */
    line-height: 1; /* Verringert Zeilenhöhe */
    width: 10rem; /* Fixe Breite für bessere Anordnung */
    height: 5rem; /* Fixe Höhe für gleichmäßige Anordnung */
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #20361c;
  color: white;
}