.dropdown {
    position: relative;
  }
  
  .dropdown-button {
    background-color: #1f1f1f;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-button:hover {
    background-color: #333;
  }
  
  .dropdown-menu {
    
    background-color: rgb(33, 142, 79);
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    flex-direction: column;

  }
  
  .dropdown-menu li a {

    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-menu li a:hover {
    background-color: #000000;
  }