.sidebar {
  width: 250px; /* oder eine andere passende Breite */
  background-color: #f5f5f5;
  padding: 10px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 5px;
}

.sidebar nav li {
  margin-bottom: 15px;
}

/* Container für Icon und Text */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;           /* Abstand zwischen Icon und Text */
  padding: 12px 12px;   /* Innenabstand, sorgt für bessere Klickbarkeit */
  transition: background-color 0.2s;
}

/* Hover-Effekt für visuelles Feedback */
.sidebar-item:hover {
  background-color: #e0e0e072;
  border-radius: 5px;
}

/* Stil, wenn ein Element aktiv ist */
.active .sidebar-item {
  background-color: #00000016;
  border-radius: 5px;
  font-weight: bolder;
}

/* Icon-Größe und Ausrichtung */
.sidebar-icon {
  font-size: 24px;  /* Größe des Icons anpassen */
}

/* Textformatierung */
.sidebar-text {
  font-size: 16px;
  color: black;
}